@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    background-image: linear-gradient(94.19deg, #FFFFFF -19.1%, #A861FA 42.82%, #7F3AF5 104.73%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

body {
    overflow: hidden;
    overflow-y: scroll;
}
.capitalize-first-word:first-letter {
  text-transform: uppercase;
}
.gradient-text-alt-1 {
    background-image: linear-gradient(93.87deg, #00FFBD -12.2%, #025B8C 110.62%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient-text-alt-3 {
    background-image: linear-gradient(96.06deg, #0047FF -9.25%, #00BCD4 133.26%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient-text-alt-2 {
    background-image:  linear-gradient(93.87deg, #19FB98 -12.2%, #8C01FA 110.62%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.gradient-text-alt-4 {
    background-image:linear-gradient(93.87deg, #00FFBD -12.2%, #025B8C 110.62%)    ;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.bg-image {
    background-image: url('/bg-image.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
.bg-image2 {
    background-image: url('/Vector2.avif');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .base-image{
    background-image: url('/background.avif');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
  }
/* .dialoft-background{
  background-color: #ba1acf;
  opacity: 0.1;
  backdrop-filter: blur(25px);
} */
@keyframes blurAnimation {
  0% { filter: blur(50px); }
  50% { filter: blur(80px); }
  100% { filter: blur(50px); }
}

.dialoft-background {
  background: linear-gradient(to right, transparent, #1E0B34);
  animation: blurAnimation 4s infinite;
}
  .word {
    overflow: hidden;
    width: full;
    height: 50px; /* Adjusted for better text visibility */
  }
  
  .word span {
    display: block;
    height: 50px;
    line-height: 50px; /* Ensures vertical centering */
    /* padding-left: 10px; */
    animation: spin_words 8s infinite ease-in-out;
    text-align: start;
  }
  
  @keyframes spin_words {
    0% {
      transform: translateY(0);
    }
    11.11% {
      transform: translateY(-50px);
    }
    22.22% {
      transform: translateY(-100px);
    }
    33.33% {
      transform: translateY(-150px);
    }
    44.44% {
      transform: translateY(-200px);
    }
    55.55% {
      transform: translateY(-250px);
    }
    66.66% {
      transform: translateY(-300px);
    }
    77.77% {
      transform: translateY(-350px);
    }
    88.88% {
      transform: translateY(-400px);
    }
    100% {
      transform: translateY(0);
    }
  }
  